<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Животные &mdash; людям {% block extra_title %}{% endblock extra_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block bootstrap_header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    {% endblock bootstrap_header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-7.8.9.min.js"></script>
{% block extra_head %}
{% endblock extra_head %}
</head>